Α - Alpha, alfa
α - alpha, alfa
Β - Beta
β - beta
Γ - Gamma
γ - gamma
Δ - Delta
δ - delta
Ε - Epsilon
ε - epsilon
Ζ - Zeta
ζ - zeta
Η - Eta
η - eta
Θ - Teta, theta
θ - teta, theta
Ι - Iota
ι - iota
Κ - Kappa
κ - kappa
Λ - Lambda
λ - lambda
Μ - Mi, Mu
μ - mi, mu
Ν - Ni, Nu
ν - ni, nu
Ξ - Ksi, Xi
ξ - ksi, xi
Ο - Omicron
ο - omicron
Π - Pi, Pigreco, Pi greco
π - pi, pigreco, pi greco
Ρ - Rho, Ro
ρ - rho, ro
Σ - Sigma
σ - sigma
ς - sigma 2
Τ - Tau
τ - tau
Υ - Ypsilon, Ipsilon
υ - ypsilon, ipsilon
Φ - Phi, Fi
φ - phi, fi
Χ - Xi
χ - xi
Ψ - Psi
ψ - psi
Ω - Omega
ω - omega
⁰ - 0 apex
¹ - 1 apex
² - 2 apex
³ - 3 apex
⁴ - 4 apex
⁵ - 5 apex
⁶ - 6 apex
⁷ - 7 apex
⁸ - 8 apex
⁹ - 9 apex
⁺ - + piu apex
⁻ - meno apex
⁼ - uguale = apex
⁽ - apex open parentesi (
⁾ - apex closed parentesi )
ⁿ - apex n
ⁱ - apex i
₀ - 0 pedice
₁ - 1 pedice
₂ - 2 pedice
₃ - 3 pedice
₄ - 4 pedice
₅ - 5 pedice
₆ - 6 pedice
₇ - 7 pedice
₈ - 8 pedice
₉ - 9 pedice
₊ - pedice + piu
₋ - pedice meno
₌ - pedice uguale =
₍ - pedice open parentesi (
₎ - pedice closed parentesi )
ₐ - pedice a
ₑ - pedice e
ₒ - pedice o 0
ₓ - pedice x
→ - arrow destra dx, right arrow
← - arrow sinistra sx, left arrow
↓ - arrow giù giu, arrow down
↑ - arrow sù su, arrow up
↔ - arrow double dx sx, double arrow
↕ - arrow su giu sù giù arrow up down
↖ - arrow n o w, arrow
↗ - arrow arrow n e
↘ - arrow arrow s e
↙ - arrow arrow s o w
⇄ - arrow arrow dx sx right left double double
⇅ - arrow arrow su sù giu giù up down double double
⇌ - half arrow double, double half arrow
⇒ - implica, arrow double, double arrow
⇐ - implicato, arrow double, double arrow
⇔ - coimplica, arrow double, dowble arrow
⇦ - arrow vuota sx
⇧ - arrow vuota su
⇨ - arrow vuota dx
⇩ - arrow vuota giu
⇳ - arrow vuota su giu
⬄ - arrow vuota dx sx
⬅ - arrow piena sx
⬆ - arrow piena su
⬇ - arrow piena giu
➔ - arrow testa larga TODO
⬌ - arrow piena dx sx
⬍ - arrow piena su giu
⭠ - arrow media sx
⭡ - arrow media su
⭢ - arrow media dx
⭣ - arrow media giu
⭤ - arrow media dx sx
⇜ - arrow ondulata sx
⇝ - arrow ondulata dx
⇾ - arrow testa vuota dx
⇽ - arrow testa vuota sx
⟵ - arrow lunga sx, long arrow
⟶ - arrow lunga dx, long arrow
⟼ - arrow lunga dx barra trattino
⥈ - arrow dx sx double pallino caccia tie fighter star wars
↺ - arrow tonda, reload, ricarica, circle arrow
➤ - arrow invia
~ - tilde, ondina
≠ - diverso, non uguale =/=
≥ - maggiore uguale >=
≤ - minore uguale <=
± - più o meno, piu, +
∓ - meno più, piu, +
× - times, per
• - dot, bullet, per
÷ - diviso, divisione
√ - radice, sqrt
⊥ - perpendicolare
∥ - parallelo
≅ - congruente, uguale, tilde, ondina, =
≡ - equivalente, uguale
≈ - approssimativamente equivalente, ondine, tilde, circa
∝ - proporzionale
∞ - infinito
∩ - intersezione, intersecato
∪ - unione, unito
⋁ - vel, unione, or
⋀ - at, intersezione, and, esterno
⊆ - contenuto o uguale, sottoinsime
⊂ - contenuto, sottoinsime
⊄ - non contenuto, non sottoinsime
⊇ - contenente o uguale, sovrainsieme
⊃ - contenente, sovrainsieme
⊅ - non contenente, non sovrainsieme
∈ - appartenente, appartiene, in
∋ - appartiene
∌ - non appartiene
∉ - non appartenente, appartiene, not in
Ø - insieme vuoto, O barrata
ℝ - insieme numeri reali R
ℕ - insieme numeri naturali N
ℂ - insieme numeri complessi C
ℚ - insieme numeri razionali Q
ℤ - insieme numeri relativi Z
∫ - integrale
∮ - integrale su superficie closed
∀ - perogni, per ogni, forall, for all
∂ - derivata parziale, dabba
∃ - esiste, exist
∄ - non esiste, not exist
¬ - not, negazione
½ - frazione, 1/2
⅓ - frazione, 1/3
⅔ - frazione, 2/3
¼ - frazione, 1/4
¾ - frazione, 3/4
⅛ - frazione, 1/8
⅜ - frazione, 3/8
⅝ -  frazione, 5/8
⅞ - frazione, 7/8
« - aperte doppie virgolette
» - chiuse doppie virgolette
♠ - seme picche
♣ - seme fiori
♥ - seme cuori
♦ - seme quadri
◊ - seme quardi vuoto
∇ - Delta rovesciata, nabla
א - aleph, alef
— - trattino lungo, linea, meno, long
⊕ - più cerchiato, piu
⊖ - meno cerchiato
⊗ - per cerchiato x
⊘ - diviso cerchiato slash barra
⊙ - per cerchiato bullet dot
⊚ - per cerchiato bullet dot vuoto
⊛ - per cerchiato asterisco *
⊜ - uguale cerchiato =
⊝ - meno trattino cerchiato
​ - ZWS, zero width space, empty character
⠀ - braille fake space
© - copyright
® - registered
⌬ - benzene, anello benzenico
Ã - A~ tilde
ã - a~ tilde
ǝ - e al contrario
